.ui-content {
padding: 0 !important;
}
  
.ui-listview {
    margin: 0 !important;
}
  
.example-wrapper, .example-wrapper div.iscroll-scroller {
    width: 100% !important;
}

.userProfileContent , .announcementContent, .myMunicipalityContent, .issueDetails{
	margin-left:30px;
}

.ui-li p {
	font-size: 1.5em;
}

body, input, select, textarea, button, .ui-btn {
	font-size: 1.2em;
	line-height: 1.3;
	font-family: sans-serif;
}

.ui-header .ui-title, .ui-footer .ui-title {
	font-size: 1.2em;
	min-height: 1.1em;
	text-align: center;
	display: block;
	margin: 0 30%;
	padding: .7em 0;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	outline: 0!important;
}